# Copy to .env to override. None of these are secrets except the tokens.
LHAI_MODEL=smollm2-135m
LHAI_CONTROLLER=aimd
LHAI_SLO_TPOT_MS=100
LHAI_ADMIN_TOKEN=
LHAI_MEM_LIMIT=4g
LHAI_CPUS=8
LHAI_HOST_PORT=8410
PROMETHEUS_HOST_PORT=9410
GRAFANA_HOST_PORT=3410
GRAFANA_ADMIN_PASSWORD=admin
